<style>
* {
    text-align: justify;
    text-justify: inter-word;
}

b {
    font-weight: bold;
}

code {
    font-family: "Times New Roman";
    font-size: 10%;
    background-color: #EAE9ED;

}

div.hint {
/*     background-color: #FFFBE5;
    color: black; */
}

.title {
    font-size: 4rem;
    font-weight: bold;
    color: #57A6DC;
}

.subtitle {
    font-size: 1.25rem;
    font-weight: bold;
    color: #57A6DC;
}

.variable {
    color: #4FE0B0; 
/*     font-size: .9em; */
/*     font-weight: bold; */
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

h4 {
    font-size: 1em;
    font-weight: bold;
}

</style>